#links{
}

#links a{
	width: 33%;
}

#links > p{
	margin-top: 5em;
	margin-left: 1%;
	font-weight: bold;
	text-transform: uppercase;
}

.gallery-thumb{
	position: relative;
	display: inline-block;
	height: 12em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1%;  
	margin-right: 1%;
	width: 23%;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	-webkit-box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.4);
	-moz-box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.4);
	box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.4);
}

.gallery-thumb img{
	visibility: hidden;
	height: auto;
	width: auto;
}

.gallery-thumb > div{
	position: absolute;
	height: 80%;
	width: 100%;
	bottom: -80%;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	transition: 0.3s;
	padding: 1em;
}

.gallery-thumb > div p:first-child{
	font-size: 18px;
}

/*.gallery-thumb > div p:last-child{
	text-align: right;
}
*/
.gallery-thumb:hover > div{
	bottom: 0;
}

.gallery-control-wrapper:after{
	content: "";
	display: block;
	clear: both;
}	

.gallery-control{
	background-color: transparent;
	float: right;
}

.gallery-control option{
	color: #000;
}

.container{
	height: 100%;	
}

.hide-scroll-c:before{
	content: "";
	display: block;
	height: 200px;
}

.hide-scroll-c:after{
	content: "";
	display: block;
	height: 160px;
}

label{
	display: inline-block;
}

@media only screen and (max-device-width: 992px){

	.gallery-thumb{
		height: 8em;
	}
}

@media only screen and (max-device-width: 736px){

	.gallery-thumb{
		height: 5em;
	}
}

div.stars {
/*  display: inline-block;*/
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 10px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FFF;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FFF;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

/*label.star:hover { transform: rotate(-15deg) scale(1.3); }*/

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}