
html, body{
	font-weight: 250;
	font-family: "Segoe UI Light", "sans-serif";
	height: 100% !important;
	color: #fff;
	transition-timing-function: ease;
}

a{
	text-decoration:none !important;
}

.modal-dialog{
	color: #000;
}

.headline{
	text-transform: uppercase;
	margin-top: -40px;
	margin-bottom: 35px;
	font-size: 48px;
	text-align: center;
}

.subheadline{
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 22px;
	text-align: center;
}

.content-text{
	font-size: 18px;
	margin-bottom: 20px;
	padding: 15px;
	background-color: rgba(0,0,0, 0.0);
	border-radius: 15px;
	/*margin-bottom: 160px;*/
	border: 2px solid #fff;
}

.centered-md{
	position: relative;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.centered-lg{
	position: relative;
	max-width: 760px;
	margin-left: auto;
	margin-right: auto;
}


#bg-wrapper{
	position: relative;
	padding: 0 !important;
	margin: 0 !important;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#background-slide{
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

#background-slide .carousel-indicators{
	z-index: 1;
}

.carousel-inner{
	height: 100%;
	width: 100%;
}

#background-slide .item{
	height: 100%;
	width: 100%;
	background-size: cover;      
    background-repeat: no-repeat;
    background-position:center center;
}

#bg1{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/1.jpg");
}

#bg2{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/2.jpg");
}

#bg3{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/3.jpg");
}

#bg4{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/4.jpg");
}

#bg5{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/5.jpg");
}

.navbar{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	padding-left: 45px;
	padding-right: 45px; 
	border: none !important;
	border-radius: 0 !important;
	background-color: rgba(0,0,0, 0.8) !important;
}

.navbar-default .navbar-nav>li>a{
	font-weight: normal;
	font-size: 18px;
	color: #fff !important;
}

.navbar-brand img{
	height: 100%;
	max-height: 25px;
	width: auto;
}

.menu-underline{
	height: 2px;
	width: 0px;
	padding: 0;
	margin: 0;
	margin-bottom: -2px;
	background-color: #fff;
	-webkit-transition: width 1s;
    transition: width 1s;
}

li:hover .menu-underline{
	width: 100%;
}


.valign-p {
	position: relative;
	left: 0;
	top: 0;
	display: table;
	height: 100%;
	width: 100%;
	z-index: 0;
}

.valign-c {
	overflow: auto;
	width: 100%;
	position: relative;
    display: table-cell;
    vertical-align: middle;
}

.vcenter{
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%); /* IE 9 */
   	-webkit-transform: translateY(-50%); /* Safari */
    transform: translateY(-50%); 

}

.page-padding{
	padding-left: 15%;
	padding-right: 15%;
}

.page{
	position: absolute;
	float: left;
	height: 100%;
	width: 100%;
}

.content-img{
	width: auto;
	margin-top: 40px;
	margin-bottom: 70px;
	font-size: 72px;
	text-align: center;
}

.content-img img{
	width: auto;
	height: 150px;
}




.content-wrapper{
	max-height: 550px;
	position: relative;
	height: 55%;
}

.tiltLeft{
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

.tiltRight{
    -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}


.dz-container{
	height: 100%;
}

.zone{
	/*padding: 50px !important;*/
	height: 100% !important;
	max-height: 500px !important; 
	border-radius: 15px !important;
	border: 3px dashed #fff !important;
	-webkit-transition: border 2s, background 0.5s !important;
    transition: border 2s, background 0.5s !important;
}

.zone:hover{
	border: 3px solid #fff !important;
	background: rgba(0,0,0, 0.4) ;
}

.dz-message{
	margin-top: 0 !important;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%); /* IE 9 */
   	-webkit-transform: translateY(-50%); /* Safari */
    transform: translateY(-50%); 
}

.dz-message span{
	color: #fff !important;
	font-size: 14px !important;
}

.dz-message > span > div{
	margin-top: 15px;
}

.dropzone .dz-preview{
	-ms-transform: translateY(-50%); /* IE 9 */
   	-webkit-transform: translateY(-50%); /* Safari */
    transform: translateY(-50%); 
}

.browse-btn{
	padding: 7px;
	width: 60%;
	background-color: rgba(255,255,255, 0.7);
	border-radius: 15px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

.browse-btn span{
	text-transform: uppercase;
	color: #000 !important;
}

.dz-header{
	height: 40px;
	margin-top: -40px;
}

.dz-header p{
	font-size: 24px;
	text-align: center;
}

.page-btn-wrapper{
	width: 100%;
	padding-left: 15%;
	padding-right: 15%;
	position: absolute;
	bottom: 0;
	height: 140px;
}

.page-btn-container{
	width: 100%;
}

.page-btn{
	background-color: rgba(255,255,255, 0.7);
	width: 100%;
	border-radius: 20px;
	padding: 10px;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	color: #000;
	border: 2px solid rgba(255,255,255,0);
	-webkit-transition: border 1s, background 0.5s, color 0.5s;
	transition: border 1s, background 0.5s, color 0.5s;
}

.page-btn .glyphicon{
	font-size: 20px;
}

.page-btn:hover {
	background: none;
	border: 2px solid #fff;
	color: #fff;
}

.left-button{
	float: left;
	width: 50% !important;
	padding: 0;
	padding-right: 10px;
	margin: 0;
	
	box-sizing: border-box;
}

.right-button{
	float: left;
	width: 50% !important;
	padding: 0;
	padding-left: 10px;
	margin: 0;
	
	box-sizing: border-box;
}

#art-lib-content{
	height: 500px;
}

.clearfloat::after{
	content: "";
	display: block;
	clear:both;
}

.mobile-br{
	display: none;
}

.zone-img{
	margin-bottom: 10px;
	width: 50%;
	height: auto;
}


.nodisplay {
    display: none;
}

@media only screen and (max-device-width: 1600px){
	.content-img img{
	width: auto;
	height: 150px;
}

}

@media only screen and (max-device-width: 992px){
	.page-btn-wrapper{
		height: 60px;
	}
}

@media only screen and (max-device-width: 736px){

	.content-text{
		margin-bottom: 75px;
	}

	.content-img{
		font-size: 32px;
	}

	.content-img .glyphicon{
	-ms-transform: rotate(90deg) translate(45px,-15px); /* IE 9 */
    -webkit-transform: rotate(90deg) translate(45px,-15px); /* Chrome, Safari, Opera */
    transform: rotate(90deg) translate(45px,-15px);
}

	.content-img img{
	width: auto;
	height: 100px;
}


	#art-lib-content{
		height: 400px;
	}

	.mobile-br{
		display: block;
	}


}

